In [19]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter("ignore")

In [20]:
df=pd.read_csv("D:\\Sethu 45\\Age_of_Actors_06\\age.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              243 non-null    object
 1   birthday          227 non-null    object
 2   title             243 non-null    object
 3   character_name    243 non-null    object
 4   character_year    111 non-null    object
 5   characterage      131 non-null    float64
 6   character_gender  243 non-null    object
 7   love_interest     132 non-null    object
 8   release_date      243 non-null    object
 9   actor_age         227 non-null    float64
dtypes: float64(2), object(8)
memory usage: 19.1+ KB

In [21]:
df.isnull().sum()

name                  0
birthday             16
title                 0
character_name        0
character_year      132
characterage        112
character_gender      0
love_interest       111
release_date          0
actor_age            16
dtype: int64

In [22]:
df['birthday']=pd.to_datetime(df['birthday'])
df['b_year']=df['birthday'].dt.year
df['b_year']

0      1993.0
1      1994.0
2      1994.0
3      1995.0
4      1988.0
        ...
238       NaN
239    1991.0
240    1994.0
241    1998.0
242       NaN
Name: b_year, Length: 243, dtype: float64

In [23]:
df=df.drop(['birthday','title','character_name','character_year', 'love_interest','release_date'],axis=1)
df

                       name  characterage character_gender  actor_age  b_year
0                 Ben Platt           NaN                M       26.0  1993.0
1               Zoey Deutch           NaN                F       24.0  1994.0
2              Lucy Boynton           NaN                F       25.0  1994.0
3          Julia Schlaepfer           NaN                F       24.0  1995.0
4            Laura Dreyfuss           NaN                F       31.0  1988.0
..                      ...           ...              ...        ...     ...
238  Thomas Mitchell Barnet           NaN                M        NaN     NaN
239             Kevin Alves           NaN                M       28.0  1991.0
240          Asha Bromfield           NaN                F       25.0  1994.0
241           Felix Mallard          17.0                M       21.0  1998.0
242            Hallea Jones           NaN                F        NaN     NaN

[243 rows x 5 columns]

In [24]:
from sklearn. preprocessing import LabelEncoder
label_encoder = LabelEncoder ()
categorical_columns = ['name', 'character_gender']
df[categorical_columns] = df[categorical_columns]. apply(label_encoder.fit_transform)
df[categorical_columns]

     name  character_gender
0      24                 1
1     239                 0
2     151                 0
3     126                 0
4     142                 0
..    ...               ...
238   229                 1
239   135                 1
240    18                 0
241    80                 1
242    94                 0

[243 rows x 2 columns]

In [25]:
from sklearn. impute import SimpleImputer
numeric_columns = ['b_year','actor_age','characterage']
df[numeric_columns] = SimpleImputer(strategy='most_frequent'). fit_transform(df[numeric_columns])
df[numeric_columns]

     b_year  actor_age  characterage
0    1993.0       26.0          17.0
1    1994.0       24.0          17.0
2    1994.0       25.0          17.0
3    1995.0       24.0          17.0
4    1988.0       31.0          17.0
..      ...        ...           ...
238  1996.0       22.0          17.0
239  1991.0       28.0          17.0
240  1994.0       25.0          17.0
241  1998.0       21.0          17.0
242  1996.0       22.0          17.0

[243 rows x 3 columns]

In [26]:
x = df[['name', 'character_gender','characterage','b_year']]
x

     name  character_gender  characterage  b_year
0      24                 1          17.0  1993.0
1     239                 0          17.0  1994.0
2     151                 0          17.0  1994.0
3     126                 0          17.0  1995.0
4     142                 0          17.0  1988.0
..    ...               ...           ...     ...
238   229                 1          17.0  1996.0
239   135                 1          17.0  1991.0
240    18                 0          17.0  1994.0
241    80                 1          17.0  1998.0
242    94                 0          17.0  1996.0

[243 rows x 4 columns]

In [27]:
y = df['actor_age']
y

0      26.0
1      24.0
2      25.0
3      24.0
4      31.0
       ...
238    22.0
239    28.0
240    25.0
241    21.0
242    22.0
Name: actor_age, Length: 243, dtype: float64

In [28]:
from sklearn. model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split (x, y, test_size=0.2, random_state=42)
from sklearn. linear_model import LinearRegression
model = LinearRegression ()

In [29]:
model.fit (x_train, y_train)

LinearRegression()

In [30]:
y_pred = model. predict(x_test)

In [34]:
from sklearn. metrics import mean_squared_error
mse = mean_squared_error (y_test, y_pred)
print (f"Mean Squared Error: {mse}")

Mean Squared Error: 8.89497933910581

In [38]:
new_data = pd. DataFrame ({"name": [142], "character_gender": [1],'characterage':[17], "b_year": [1996.0]})
predicted_age = model. predict(new_data)
print (f"Predicted Actor Age: {predicted_age [0]}")

Predicted Actor Age: 21.037446484786074