In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.simplefilter("ignore")

In [4]:
df = pd.read_csv("D:\\Sethu 45\\Hate tweets 05\\Twitter.csv", encoding='ISO-8859-1')

df.head()

,status_id,text,created_at,favorite_count,retweet_count,location,followers_count,friends_count,statuses_count,category
0,1046207313588230000,"Entitled, obnoxious, defensive, lying weasel. ...",2018-09-30T01:17:15Z,5,1,"McAllen, TX",2253,2303,23856,0
1,1046207328113080000,Thank you and for what you did for the women...,2018-09-30T01:17:19Z,5,2,"Tampa, FL",2559,4989,19889,0
2,1046207329589490000,Knitting (s) &amp; getting ready for January 1...,2018-09-30T01:17:19Z,0,0,"St Cloud, MN",16,300,9,0
3,1046207341283160000,Yep just like triffeling women weaponized thei...,2018-09-30T01:17:22Z,1,0,flyover country,3573,3732,38361,1
4,1046207347016820000,"No, the President wants to end movement posin...",2018-09-30T01:17:23Z,0,0,World,294,312,7635,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 807174 entries, 0 to 807173
Data columns (total 10 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   status_id        807174 non-null  int64
 1   text             803638 non-null  object
 2   created_at       807174 non-null  object
 3   favorite_count   807174 non-null  int64
 4   retweet_count    807174 non-null  int64
 5   location         616394 non-null  object
 6   followers_count  807174 non-null  int64
 7   friends_count    807174 non-null  int64
 8   statuses_count   807174 non-null  int64
 9   category         807174 non-null  int64
dtypes: int64(7), object(3)
memory usage: 61.6+ MB

In [6]:
df.isnull().sum()

status_id               0
text                 3536
created_at              0
favorite_count          0
retweet_count           0
location           190780
followers_count         0
friends_count           0
statuses_count          0
category                0
dtype: int64

In [7]:
df['text'].fillna('',inplace=True)
df['text']

0         Entitled, obnoxious, defensive, lying weasel. ...
1         Thank you  and  for what you did for the women...
2         Knitting (s) &amp; getting ready for January 1...
3         Yep just like triffeling women weaponized thei...
4         No, the President wants to end  movement posin...
                                ...
807169    Letâs not forget that this âiconic kissâ...
807170    DEFINITELY....the only one any of us should su...
807171    Did the  movement count the dollars of Erin An...
807172    This is one of my all time fav songs &amp; vid...
807173     I watched your news on the death of the sailo...
Name: text, Length: 807174, dtype: object

In [8]:
df['location'].fillna('',inplace=True)
df['location']

0                 McAllen, TX
1                   Tampa, FL
2                St Cloud, MN
3             flyover country
4                       World
                 ...
807169          South Florida
807170
807171                 Philly
807172    Berlin, Deutschland
807173     Massachusetts, USA
Name: location, Length: 807174, dtype: object

In [9]:
df=df.drop(['status_id','created_at'],axis=1)
df.head()

,text,favorite_count,retweet_count,location,followers_count,friends_count,statuses_count,category
0,"Entitled, obnoxious, defensive, lying weasel. ...",5,1,"McAllen, TX",2253,2303,23856,0
1,Thank you and for what you did for the women...,5,2,"Tampa, FL",2559,4989,19889,0
2,Knitting (s) &amp; getting ready for January 1...,0,0,"St Cloud, MN",16,300,9,0
3,Yep just like triffeling women weaponized thei...,1,0,flyover country,3573,3732,38361,1
4,"No, the President wants to end movement posin...",0,0,World,294,312,7635,0

In [10]:
x=df.iloc[:,:-1]
x

,text,favorite_count,retweet_count,location,followers_count,friends_count,statuses_count
0,"Entitled, obnoxious, defensive, lying weasel. ...",5,1,"McAllen, TX",2253,2303,23856
1,Thank you and for what you did for the women...,5,2,"Tampa, FL",2559,4989,19889
2,Knitting (s) &amp; getting ready for January 1...,0,0,"St Cloud, MN",16,300,9
3,Yep just like triffeling women weaponized thei...,1,0,flyover country,3573,3732,38361
4,"No, the President wants to end movement posin...",0,0,World,294,312,7635
...,...,...,...,...,...,...,...
807169,Letâs not forget that this âiconic kissâ...,2,0,South Florida,206,412,1247
807170,DEFINITELY....the only one any of us should su...,3,0,,63,6,137
807171,Did the movement count the dollars of Erin An...,0,0,Philly,2721,3509,66966
807172,This is one of my all time fav songs &amp; vid...,1,1,"Berlin, Deutschland",2683,1011,15455
807173,I watched your news on the death of the sailo...,1,0,"Massachusetts, USA",237,741,789

In [11]:
y=df.iloc[:,-1]
y

0         0
1         0
2         0
3         1
4         0
         ..
807169    0
807170    0
807171    0
807172    1
807173    0
Name: category, Length: 807174, dtype: int64

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [13]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer=CountVectorizer()
x_train_text=vectorizer.fit_transform(x_train['text'])
x_train_text

<605380x130326 sparse matrix of type '<class 'numpy.int64'>'
	with 11031463 stored elements in Compressed Sparse Row format>

In [14]:
x_test_text=vectorizer.transform(x_test['text'])
x_test_text

<201794x130326 sparse matrix of type '<class 'numpy.int64'>'
	with 3651979 stored elements in Compressed Sparse Row format>

In [15]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB()

In [16]:
model.fit(x_train_text,y_train)

MultinomialNB()

In [17]:
y_pred=model.predict(x_test_text)
y_pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [18]:
from sklearn.metrics import accuracy_score, classification_report
accuracy=accuracy_score(y_test,y_pred)*100
print('Accuracy score of the model is{:.2f}'.format(accuracy))

Accuracy score of the model is93.11

In [19]:
from sklearn. metrics import classification_report
class_report = classification_report (y_test, y_pred)
print (f"\nClassification Report:\n{class_report}")

Classification Report:
              precision    recall  f1-score   support

           0       0.96      0.96      0.96    178149
           1       0.71      0.71      0.71     23645

    accuracy                           0.93    201794
   macro avg       0.83      0.83      0.83    201794
weighted avg       0.93      0.93      0.93    201794